# 1 In  the below element which of them are values or an expreession? eg:- values can be integer or string and expressions will be mathematical operators
*,'hello', -87.8,-,/,+,6

Ans - There are a total of 4 Operators and 3 Expression They are:



Operators:- *, -, / , +


Expression:- 'hello', 87.8, 6

# 2  What is  the difference between string and variable?

Ans:- A Variable is used to store of infromation and a String is a type of infromation you would store in a variable. A String is a group of characters or a single character usually enclosed in Double quotes "" or single quotes' '

# 3  Describe three different Data Type?

Ans:- Three fundamental  Data type to represent whole numbers(integral values)

1  int data type : We can use int data type to represent whole numbers(integral values)

2  flot data type : We can use flot data to represent floting point values (decimal values)

3 comples data type: Comples number is represented by complex class. it is specified as (real part)+(imaginary part)

In [6]:
# Example for int data type
int_num = 2564
print(int_num, type(int_num))
# Example for float data type
flo_num = 5.6e4
print(flo_num, type(flo_num))
#Example for Complex data type
com_num = 100+1.5j
print(com_num, type(com_num))

2564 <class 'int'>
56000.0 <class 'float'>
(100+1.5j) <class 'complex'>

# 4  What is an expression made up of? What do all expressions do?

Ans:- An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated. If we ask Python to print an expression, the interpreter evaluates the expression and displays the result.

In [7]:
4*5+20-40 # Is an Expression, The Python Interpreter Evaluates it to 0

0

# 5 This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans:- An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

eg: 4*5+20-40 is an example of a statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donâ€™t have values.

eg: variable declaration and assignment are statements because they do not return a value

In [8]:
#Example:
4*5+20-40 # Is a Expression
courseName = 'INeuron FullStack DataScience' # Is a Statement
print("Hello World !") # Is a Expression Statement

Hello World !

# 6 After running the following code, what does the variable bacon contain?

bacon = 22


bacon + 1

Ans: The variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon (that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

In [10]:
# Example Case#1
bacon=22
bacon+1
print(bacon)

22

In [11]:
#Example Case#2
bacon=22
bacon=bacon+1 
print(bacon)

23

# 7 .What should the values of the following two terms be?

'spam'+'spamspam'


'spam'*3

Ans: Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows String Multiplication

In [12]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

# 8 Why is eggs a valid variable name while 100 is invalid?

Ans: As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

1 Variable name must start with a letter or the underscore character.

2 Variable name cannot start with a number.

3 Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).

4 Variable names are case-sensitive (name, INEURON and ineuron are three different variables).

5 The reserved words(keywords) cannot be used naming the variable.

In [14]:
egg='Ineuron' # Valid variable Initilization
var_100='hello' # Valid Variable Initialization
print(egg) #prints the value of egg ie Ineuron
print(var_100) #prints the value of var_100 ie hello

Ineuron
hello

# 9 What three functions can be used to get the integer,floating-point number,or string version of a value?

Ans: The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [15]:
# Examples:
print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
print('float(10) -> ',float(10)) # float() function converts given input to float
print('str(10) -> ',str(10)) # str() function converts given input to string

int(10.0) ->  10
float(10) ->  10.0
str(10) ->  10

# 10 Why does this expression cause an error? how can you fix it?

'I have eaten ' + 99 + 'burritos.'

Ans: This cause of error is 99.because 99 is not a string. 99 must be typecasted to a string to fix this error. the correct way is:

Input: 'I have eaten ' + str(99) + 'burritos.'

Output: 'I have eaten 99 burritos.'

In [17]:
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos